Repository microsoft/dstoolkit-mlops-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Path conditions:
  .azure-pipelines/diabetes_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/diabetes, src/diabetes, model/diabetes, src/shared
  .azure-pipelines/diabetes_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/diabetes, src/diabetes, model/diabetes, src/shared
  .azure-pipelines/london_taxi_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/nyc_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/nyc_taxi, src/nyc_src, model/nyc_taxi, src/shared
  .azure-pipelines/nyc_taxi_data_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/nyc_taxi, src/nyc_src, model/nyc_taxi, src/shared

Delete docs/how_to_onboard_new_model.md
  docs/how_to_onboard_new_model.md
Due: none

Delete docs/solution_architecture.md
  docs/solution_architecture.md
Due: none

Update README.md
  README.md
Due: none

Update CONTRIBUTING.md
  docs/CONTRIBUTING.md
Due: none

Delete docs/how-to/GeneralDocumentation.md
  docs/how-to/GeneralDocumentation.md
Due: none

Update BranchingStrategy.md
  docs/how-to/BranchingStrategy.md
Due: none

Delete docs/how-to/FAQ.md
  docs/how-to/FAQ.md
Due: none

Update GettingStarted.md
  docs/how-to/GettingStarted.md
Due: none

Update OnboardingNewModel.md
  docs/how-to/OnboardingNewModel.md
Due: none

added a comment or two
  README.md
Due: none

saved the files for the license and readme
  LICENSE
  README.md
Due: none

added pyproject
  LICENSE
  pyproject.toml
Due: none

test ability to pass in a specific model's data config
  .azure-pipelines/register_data_assets.yml
  config/nyc_taxi/data_config.yml
  config/orig.data_config.json
  mlops/common/register_data_asset.py
Due: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

force a new environment
  mlops/diabetes/environment/conda.yml
Due: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml

let's try to hardcode sklearn
  mlops/diabetes/environment/conda.yml
  model/diabetes/batch_environment/conda.yml
  model/diabetes/online_environment/conda.yml
Due: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml

non-existing key
  model/diabetes/online/score.py
Due: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml

fix numpy
  mlops/diabetes/environment/conda.yml
  model/diabetes/batch_environment/conda.yml
  model/diabetes/online_environment/conda.yml
Due: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml

adjust python
  mlops/diabetes/environment/conda.yml
  model/diabetes/online_environment/conda.yml
Due: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml

fix diabet test file
  model/diabetes/batch_test_data/diabetesttest.csv
Due: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml

fix numpy and sklearn versions
  mlops/london_taxi/environment/conda.yml
  mlops/nyc_taxi/environment/conda.yml
  model/london_taxi/batch_environment/conda.yml
  model/london_taxi/online_environment/conda.yml
  model/nyc_taxi/batch_environment/conda.yml
  model/nyc_taxi/online_environment/conda.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Delete docs/CONTRIBUTING.md
  docs/CONTRIBUTING.md
Due: none

Add code for cleaning up unneeded folders/files after completing Initial Tests
  docs/how-to/TestInitialSetup.md
Due: none

Added licenses for certifi, portalocker, and pathspec to LICENSE file.
  LICENSE
  docs/how-to/TestInitialSetup.md
  pyproject.toml
Due: none

Add text about base image selection
  docs/how-to/OnboardingNewModel.md
Due: none

Update SUPPORT.md
  SUPPORT.md
Due: none

Update TestInitialSetup.md
  docs/how-to/TestInitialSetup.md
Due: none

Fix get started reference in main README
  README.md
Due: none

Updated flint for prep
  .azure-pipelines/templates/build_validation_pipeline.yml
  src/diabetes/prep/prep.py
Due: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

update doc fo rlocal execution
  README.md
Due: none

fix typos and indents
  README.md
Due: none

bug fix
  config/config.yaml
Due: none

update docs
  docs/how-to/GettingStarted.md
  docs/how-to/TestInitialSetup.md
  docs/media/sample_ci_job.png
Due: none

fix naming in github
  .github/workflows/platform_ci_workflow.yml
  .github/workflows/platform_pr_workflow.yml
Due: none

apply common pattern
  .github/workflows/london_taxi_pr_pipeline.yml
  .github/workflows/nyc_taxi_pr_pipeline.yml
Due: none

adjust folders
  .github/workflows/london_taxi_ci_pipeline.yml
  .github/workflows/london_taxi_pr_pipeline.yml
  .github/workflows/nyc_taxi_ci_pipeline.yml
  .github/workflows/nyc_taxi_pr_pipeline.yml
Due: none

Address security issues
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
  .devcontainer/requirements.txt
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
  model/london_taxi/online_environment/conda.yml
  model/nyc_taxi/online_environment/conda.yml
Due: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Address security issues (#126)
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
  .devcontainer/requirements.txt
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
  model/london_taxi/online_environment/conda.yml
  model/nyc_taxi/online_environment/conda.yml
Due: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Added documentation for secret variables needed for successful pipeline run
  docs/how-to/GettingStarted.md
Due: none
