Repository microsoft/dstoolkit-mlops-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Path conditions:
  .azure-pipelines/diabetes_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/diabetes, src/diabetes, model/diabetes, src/shared
  .azure-pipelines/diabetes_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/diabetes, src/diabetes, model/diabetes, src/shared
  .azure-pipelines/london_taxi_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/nyc_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/nyc_taxi, src/nyc_src, model/nyc_taxi, src/shared
  .azure-pipelines/nyc_taxi_data_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/nyc_taxi, src/nyc_src, model/nyc_taxi, src/shared

Update config.yaml
  config/config.yaml
Due: none

This version of MLOps does not have the same folder structure and does not support customization of dockerfiles for training and inference.
  docs/how-to/AdjustingDockerfile.md
Due: none

Fix warning, grammar, flow, and content as needed.
  docs/how-to/BranchingStrategy.md
  docs/how-to/FAQ.md
  docs/how-to/GettingStarted.md
  docs/how-to/InfrastructureDesign.md
  docs/how-to/OnboardingNewModel.md
  docs/how-to/TestInitialSetup.md
  docs/media/FAQ-invoke.error.png
Due: none

Grammatical and cosmetic updates
  docs/how-to/FAQ.md
  docs/how-to/GettingStarted.md
Due: none

Update InfrastructureDesign.md
  docs/how-to/InfrastructureDesign.md
Due: none

Remove v1 GettingStarted
  docs/how-to/MLOPS_v1.GettingStarted.md
Due: none

Update GettingStarted.md
  docs/how-to/GettingStarted.md
Due: none

Update TestInitialSetup.md
  docs/how-to/TestInitialSetup.md
Due: none

Update OnboardingNewModel.md
  docs/how-to/OnboardingNewModel.md
Due: none

Add step to add Azure ML extension at the organization level.
  docs/how-to/GettingStarted.md
  docs/media/machinelearningextension.png
Due: none

Debugging diabetes code
  src/diabetes/prep/prep.py
Due: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml

Debugging diabetes code
  .azure-pipelines/templates/build_validation_pipeline.yml
Due: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Debugging diabetes code
  src/diabetes/train/train.py
Due: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml

Debugging diabetes code
  src/diabetes/score/score.py
Due: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml

Debugging diabetes code
  src/diabetes/predict/predict.py
Due: .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml

Documents refresh
  CODE_OF_CONDUCT_v1.md
  CONTRIBUTING_v1.md
  LICENSE_v1
  README.md
  README_v1.md
  SECURITY_v1.md
  SUPPORT.md
  docs/ToDelete.how_to_setup.md
  docs/how-to/GettingStarted.md
Due: none

added diabetes deployment config
  config/config.yaml
Due: none

Update README.md
  README.md
Due: none

Update BranchingStrategy.md
  docs/how-to/BranchingStrategy.md
Due: none

Update FAQ.md
  docs/how-to/FAQ.md
Due: none

Update GeneralDocumentation.md
  docs/how-to/GeneralDocumentation.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none
